* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Nav bar*/
.navbar {
  position: fixed;
  width: 100%;
  /* background-color: rgba(247, 74, 57, 255); */
  font-family: "Ubuntu", sans-serif;
  padding: 30px 0;
  transition: all 0.3s ease;
}

.sticky {
  padding: 15px 0;
  background: rgba(247, 74, 57, 255);
}

.max_width {
  max-width: 1300px;
  margin: auto;
  padding: 0 80px;
}

.navbar .max_width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: rgba(247, 74, 57, 255);
  transition: all 0.3s ease;
}

.sticky .logo a span {
  color: white;
}
.navbar .menu li {
  /* list-style: none; */
  display: inline-block;
}

.navbar .menu li a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: rgba(247, 74, 57, 255);
}

.sticky .menu li a:hover {
  color: white;
}
.menu_btn {
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Home section*/

.home {
  display: flex;
  background: url("./img/banner.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: white;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max_width {
  width: 100%;
}

.home .home_content .text_1 {
  font-size: 27px;
}

.home .home_content .text_2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home_content .text_3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home_content .text_3 span {
  color: rgba(247, 74, 57, 255);
  font-weight: 500;
}

/* Responive site*/

@media (max-width: 947px) {
  .max_width {
    padding: 0 50px;
  }
  .menu_btn {
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;
  }

  .menu_btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    background: black;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .menu li a {
    font-size: 25px;
    margin: 20px 0;
  }
}
